<div class="p-grid">
  <div class="p-col">
    <h2>Contato</h2>
  </div>
  <div class="p-col bg-light">
    <h3>Email</h3>
    <p>lnanjos96@gmail.com</p>
    <h3>Fone/Whatsapp</h3>
    <p>(46) 98815-1721</p>
    <h3>Outros</h3>
    <p>
      <a href="https://www.linkedin.com/in/leandro-n-anjos-918a291b4/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Lnanjos" target="_blank"><i class="fab fa-github-alt"></i></a>
      <a href="https://www.facebook.com/lnanjos96" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/ln.anjos/" target="_blank"><i class="fab fa-instagram"></i></a>
    </p>
  </div>
</div>