<div id="about" class="p-grid">
  <div class="p-col-12 p-xl-6 p-lg-6">
    <h2>Sobre <a href="#projects"><i class="fas fa-level-down-alt"></i></a></h2>
  </div>
  <div class="p-col-12 p-xl-6 p-lg-6 bg-light">
    <p>
      Olá, seja bem vindo ao meu portfólio.<br>
      Sou bacharel em Sistemas de Informação pelo Instituto Federal do Paraná (IFPR) - Campus Palmas, e possuo
      especialização em Desenvolvimento de Aplicativos Mobile pela Universidade de Pato Branco (UNIDEP).<br>
      Atualmente estudo as tecnologias Spring e Angular (no qual foi desenvolvido este site) e também Android.
    </p>
    <div class="p-grid">
      <div class="p-col-4"> <img src="/assets/img/spring.png"> </div>
      <div class="p-col-4"> <img src="/assets/img/angular.png"> </div>
      <div class="p-col-4"> <img src="/assets/img/android.png"> </div>
    </div>
  </div>
</div>