<div class="p-grid">
  <div class="p-col">
    <h2>Projetos</h2>
  </div>
  <div class="p-col bg-light">
    <div class="p-grid">
      <div class="p-col-2"><a href="https://lnanjos.github.io/CovidDashboard/" target="_blank"> <img src="assets/img/CoronaDashboard.png"></a> </div>
      <div class="p-col-10">
        <p><b>Corona Dashboard</b> - um dashboard minimalista feito com Angular sobre dados da Covid-19 recuparados via API.</p>
        <a href="https://lnanjos.github.io/CovidDashboard/" target="_blank"><button type="submit" class="button">Conhecer</button></a>
      </div>
      <div class="p-col-2"> <a href="https://play.google.com/store/apps/details?id=com.lnanjos.goforawalk" target="_blank"> <img src="assets/img/findwalk.png"></a> </div>
      <div class="p-col-10">
        <p><b>Find Walk</b> - um aplicativo desenvolvido em Android Nativo com Java que busca um local próximo aleatório </p>
        <a href="https://play.google.com/store/apps/details?id=com.lnanjos.goforawalk" target="_blank"><button type="submit" class="button">Conhecer</button></a>
      </div>
    </div>
  </div>
</div>