*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Recursive;
  background-attachment: fixed;
  background-image: url(/assets/img/background.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: turquoise;
  background-size: 35rem auto;  
}