*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root{
  min-width: 360px;
  --primarycolor:#40e0d0;
  --primaryColorDark: #008080;  
}

body{
  font-family: Recursive;
  background-attachment: fixed;
  background-image: url(/assets/img/background.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: var(--primarycolor);
  background-size: 35rem auto;  
  animation: backgroundstart 3s ease-out;
}

@keyframes backgroundstart{
  from {background-color: whitesmoke}
  to {background-color: var(--primarycolor);}
}

p{
  line-height: 20pt;
  font-size: 14pt;
  padding-left: 6rem;
  padding-right: 4rem;
  font-family: Roboto;
  text-align: justify;
}

h2{
  font-size: 24pt;
  text-align: end;
  padding-right: 6rem;
}

.p-grid{
  margin: 0;
  max-height: 100vh;
  min-height: 100vh;

  .bg-light{
    background-color: whitesmoke;
  }

  .p-xl-6,
  .p-lg-6{
    padding-top: 6rem;
  }

  @media only screen and (max-width: 992px){
    p{
      line-height: 20pt;
      font-size: 14pt;
      padding-left: 2rem;
      padding-right: 2rem;
    } 
    
    h2{
      padding-left: 2rem;
      text-align: start;
    }
  }
  @media only screen and (max-width: 576px){
    .p-col-12{
      padding-top: 2rem;
    }
    p{
      line-height: 20pt;
      font-size: 14pt;
      padding-left: 2rem;
      padding-right: 2rem;
    } 
    
    h2{
      padding-left: 2rem;
      text-align: start;
    }
  }
}

i{
  color: black;
  padding: 1rem;
  font-size: 28pt;
}